/*** Global Styles***/

:root {
  --primary-color: hsl(47, 88%, 63%);
  --secondary-color: hsl(0, 0%, 100%);
  --tertiary-color: hsl(0, 0%, 50%);
  --accent-color: hsl(0, 0%, 7%);
}

html {
  font-size: 16px;
  font-family: "Figtree", sans-serif;
}

/*** Body and Main Styles***/

body {
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--primary-color);
}

main {
  border: 1px solid var(--accent-color);
  background-color: var(--secondary-color);
  box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 1);
  border-radius: 17px;
  padding: 20px;
  margin: 30px 20px;
  max-width: 300px;
  max-height: 540px;
}

/*** Image Styles***/

figure {
  border-radius: 10px;
  margin: 0;
  height: 210px;
}

figure img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/***Class Info Section Styles***/

.class-info {
  margin-top: 30px;
}

.class-label {
  font-weight: 800;
  border-radius: 5px;
  width: fit-content;
  padding: 5px 13px;
  background-color: var(--primary-color);
}

.published-date {
  font-weight: 500;
  font-size: 0.875em;
  margin: 0;
}

/***Class Description Section Styles***/

.title {
  font-size: 1.5em;
  font-weight: 800;
  color: var(--accent-color);
}

.title:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.description {
  color: var(--tertiary-color);
  line-height: 1.563em;
  font-weight: 500;
}

/***Author Info Section Styles***/

.author-info {
  display: flex;
  align-items: center;
}

.author-info img {
  margin-right: 10px;
  width: 11%;
  height: 11%;
}

.author-name {
  font-size: 0.875em;
  font-weight: 800;
}

/***Attribution Section***/

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  font-weight: bold;
}
